body {
    font-family: Arial, sans-serif;
    background: #f1f3f6;
}

.container {
    width: 80%;
    margin: auto;
    background: white;
    padding: 20px;
    margin-top: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

h1 {
    text-align: center;
    color: #ff9900;
}

form {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

input, button {
    padding: 10px;
    font-size: 14px;
}

button {
    background: #ff9900;
    border: none;
    cursor: pointer;
    color: white;
}

button:hover {
    background: #e68a00;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.status-drop {
    color: green;
    font-weight: bold;
}

.status-same {
    color: blue;
}
